notebook
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# VSCode settings
.vscode/

# PyCharm project settings
.idea/

# OS files
.DS_Store
Thumbs.db
